Boolean: ${T} ${F} 
Boolean: id ${T.getNodeId()} ${F.getNodeId()} 
Boolean: is string : ${T.isString()}
Boolean: is object : ${T.isObject()}
Boolean: is array : ${T.isArray()}
Boolean: T is Boolean : ${T.isBoolean()}
Boolean: F is Boolean : ${F.isBoolean()}
Boolean: T is true : ${T.isTrue()}
Boolean: F is true : ${F.isTrue()}
Boolean: T is false : ${T.isFalse()}
Boolean: F is false : ${F.isFalse()}

