#macro(anchorShow $table $name)<a href="/${table}/${name}">${name}</a>#end
#macro(anchorSequencer $name)#anchorShow("sequencer",${name})#end
#macro(anchorRun $name)#anchorShow("run",${name})#end
#macro(anchorSample $name)#anchorShow("sample",${name})#end
#macro(anchorProject $name)#anchorShow("project",${name})#end
${response.setContentType("text/html;charset=utf-8")}
<html>
<head>
<title>${request.pathInfo}</title>
<style type="text/css">
table, th, td
	{
	border: 1px solid black;
	border-collapse:collapse;
	}
.box1 {
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: lightgray;
	margin: 15px;
	padding: 15px;
	} 
</style>
</head>
<body>
<div class="box1">
#if(${request.pathInfo.equals("/sequencers")})
<table>
 <caption>Sequencers</caption>
 <tr><th>Name</th><th>Runs</th></tr>
#foreach($sequencer in ${lims.sequencer})
<tr>
  <td>#anchorSequencer(${sequencer.name})</td>
  <td>
  #foreach($run in ${lims.run})
    #if(${run.sequencer} == ${sequencer.name} )
     <span>#anchorRun(${run.name}) </span>
    #end
  #end
  </td>
</tr>
#end
</table>
#elseif(${request.pathInfo.equals("/runs")})

<table>
 <caption>Runs</caption>
 <tr><th>Name</th><th>Sequencer</th><th>Date</th></tr>
#foreach($run in ${lims.run})
<tr>
  <td>#anchorRun(${run.name})</td>
  <td>#anchorSequencer(${run.sequencer})</td>
  <td>${run.date}</td>
</tr>
#end
</table>

#elseif(${request.pathInfo.equals("/samples")})

<table>
 <caption>Samples</caption>
 <tr><th>Name</th></tr>
#foreach($sample in ${lims.samples})
<tr>
  <td>#anchorSample(${sample.name})</td>
</tr>
#end
</table>

#elseif(${request.pathInfo.equals("/projects")})

<table>
 <caption>Projects</caption>
 <tr><th>Name</th><th>Descriptions</th><th>Samples</th></tr>
#foreach($project in ${lims.projects})
<tr>
  <td>#anchorProject(${project.name})</td>
  <td>${project.description}</td>
  <td>${project.samples.size()}</td>
</tr>
#end
</table>



#elseif(${request.pathInfo.startsWith("/sequencer/")})
#set($seqid = ${request.pathInfo.substring(11)})
#foreach($sequencer in ${lims.sequencer})
#if(${sequencer.name} == $seqid)
<h1>${sequencer.name}</h1>
<h2>Runs</h2>
<table>
<tr>
  <th>Name</th>
  <th>Date</th>
  <th>Samples</th>
</tr>
#foreach($run in ${lims.run})
#if("${run.sequencer}" == "${sequencer.name}" )
<tr>
  <td>#anchorRun(${run.name})</td>
  <td>${run.date}</td>
  <td>
  #foreach($sample in ${run.samples})
  <span>#anchorSample(${sample.name}) </span>
  #end
  </td>
</tr>
#end
#end
</table>
#end
#end

#elseif(${request.pathInfo.startsWith("/sample/")})
#set($sampleid = ${request.pathInfo.substring(8)})

#foreach($sample in ${lims.samples})
#if(${sample.name} == $sampleid)
<h1>${sample.name}</h1>
<h2>Runs</h2>
<table>
<tr>
  <th>Name</th>
  <th>Date</th>
  <th>Sequencer</th>
  <th>Mean Cov</th>
  <th>Comment</th>
</tr>
	#foreach($run in ${lims.run})
		#foreach($indi in ${run.samples}) 
			#if("${indi.name}" == "${sample.name}" )
			<tr>
			  <td>#anchorRun(${run.name})</td>
			  <td>${run.date}</td>
			  <td>#anchorSequencer(${run.sequencer})</td>
			  <td>${indi.meancov}</td>
			  <td>${indi.comment}</td>
			</tr>
			#end
		#end
	#end
</table>

<h2>Projects</h2>
<table>
<tr>
  <th>Name</th><th>Description</th>
</tr>
#foreach($project in ${lims.projects})
#foreach($indi in ${project.samples}) 
#if("${indi}" == "${sample.name}" )
<tr>
	<td>#anchorProject(${project.name})</td>
	<td>${project.description}</td>
</tr>
#end
#end
#end


</table>

#end
#end



#elseif(${request.pathInfo.startsWith("/run/")})
#set($runid = ${request.pathInfo.substring(5)})


#foreach($run in ${lims.run})
#if(${run.name} == $runid)
<h1>${run.name}</h1>
<dl>
  <dt>FlowCell</dt><dd>${run.flowcell}</dd>
</dl>

<h2>Samples</h2>
<table>
<tr>
  <th>Name</th><th>MeanCov</th><th>Comment</th>
</tr>
#foreach($indi in ${run.samples}) 
<tr>
  <td>#anchorSample(${indi.name})</td>
  <td>${indi.meancov}</td>
  <td>${indi.comment}</td>
</tr>

#end
</table>

#end
#end


#elseif(${request.pathInfo.startsWith("/project/")})
#set($projectid = ${request.pathInfo.substring(9)})

#foreach($project in ${lims.projects})
#if(${project.name} == $projectid)
<h1>${project.name}</h1>
<p>${project.description}</p>

<h2>Samples</h2>
<table>
<tr><th>Sample</th><th>Run</th><th>Date</th><th>Sequencer</th><th>MeanCov</th></tr>
#foreach($sample in ${project.samples})
#set($foundseq=false)

  	
	#foreach($run in ${lims.run})
	#foreach($indi in ${run.samples}) 
	#if("${indi.name}" == "${sample}" )
	#set($foundseq=true)
	<tr>
	  <td>#anchorSample(${sample})</td>
	  <td>#anchorRun(${run.name})</td>
	  <td>${run.date}</td>
	  <td>#anchorSequencer(${run.sequencer})</td>
	  <td>${indi.meancov}</td>
	</tr>
	#end
	#end
	#end
#if($foundseq==false)
	 <tr>
	   <td>#anchorSample(${sample})</td>
	 </tr>
#end

#end
</table>

#end
#end

#else
<ul>
  <li><a href="/sequencers">Sequencers</a></li>
  <li><a href="/runs">Runs</a></li>
  <li><a href="/samples">Samples</a></li>
  <li><a href="/projects">Projects</a></li>
</ul>
#end
</div>
<hr/>
<a href="/">Home</a>
[<a href="/sequencers">Sequencers</a>]
[<a href="/runs">Runs</a>]
[<a href="/samples">Samples</a>]
[<a href="/projects">Projects</a>]
</body>
</html>
