${response.setContentType("text/html;charset=utf-8")}
<html>
<body>
${request.pathInfo}
#if(${request.pathInfo.equals("/individuals")})
#foreach($indi in ${all.individuals})
<h1>${indi['name']}</h1>
<p>${indi.path}:${indi.id}</p>
Age:${indi.age}<br/>${indi.duck}
#end
#else
<a href="/individuals">Individuals</a>
#end
<h3>String Constructors</h3>
<ul>
#foreach($S in ${STRING.constructors})
<li>${tool.escapeXml(${S})}</li>
#end
</ul>
<p>${tool.escapeXml("<>&")}</p>
</body>
</html>
